@use '../../variables.scss';
$block: '.#{variables.$ns}batch-markup';

#{$block} {

    h1 {
        padding-top: 15px;
        font-size: 26px;
        font-weight: 800;
    }

    p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 30px;
    }

    label {
        font-size: 14px;
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
    }
}
