@use './variables.scss';

$block: '.#{variables.$ns}app';

#{$block} {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    &__wrapper {
        width: 1200px;
        padding: 0;
        display: flex;
        gap: 15px;
    }
    &__content {
        width: calc(100% - 230px);
    }
}